@font-face {
	font-family: 'Montserrat';
	src: url('/fonts/Montserrat-VariableFont_wght.ttf') format('ttf');
}

@font-face {
	font-family: 'Montserrat Italic';
	src: url('/fonts/Montserrat-Italic.ttf') format('ttf');
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}